section#about {
  padding-top: 6rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 1.33333em;
  font-family: "Poppins", sans-serif;
}

section#about * {
  margin: 0;
  padding: 0;
}

section#about .text-wrapper {
  width: 50vw;
}

#about .description,
#about .title {
  padding-bottom: 8px;
}

#about .text-wrapper.show {
  animation: fade-in linear;
}

#about .background-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: white 2px solid;
  width: 50%;
  height: 50%;

  opacity: 0.2;
}
@keyframes fade-in {
  from {
    scale: 0.8;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}
