section#about {
  /* height: 100vh; */
  font-family: "Rubik", sans-serif;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  position: relative;
  font-size: 2rem
}

#about > .description,
#about > .title {
  animation: fade-in linear;
  
}
#about img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: white 2px solid;
  width: 50%;
  height: 50%;
  opacity: 0.2;
}
@keyframes fade-in {
  from {
    scale: 0.8;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}
