#circle-wrapper {
    display: none;
    transition: 5s;
}
.circle {
    width: 28px;
    height: 28px;
    border-radius: 28px;
    background-color: white;

    position: fixed;
    top: 0;
    left: 0;
    
    pointer-events: none;
}