section#contact {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;

  position: relative;
}

#contact .icon-link {
  color: white;
  padding: 10px;
  transition: 200ms;
}

#contact .icon-link:hover svg path {
  fill: #c4c4c4;
}

#contact .icon {
  height: 75px;
  width: 75px;
}

#contact-text-wrapper {
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;

  display: flex;
}

.contact-text {
  white-space: nowrap;
  padding: 0 16px;
  letter-spacing: 1px;

  /* Style for prefers-reduced-motion: reduce */
  font-size: 4rem;
}

.contact-text[data-animated="true"] {
  overflow: hidden;

  font-size: 7rem;
  animation: RightToLeft 19s infinite linear;
}

.linkedin-icon:hover {
  transform: rotateY(30deg);
  transition: 350ms ease-in-out;
}

.github-icon:hover {
  animation: flip 1s ease forwards;
}

@keyframes LeftToRight {
  from {
    translate: -100% 0;
  }
  to {
    translate: 0 0;
  }
}

@keyframes RightToLeft {
  to {
    translate: -100% 0;
  }
}

@keyframes flip {
  to {
    rotate: z 360deg;
  }
}

#contacts {
  display: flex;
  justify-content: center;
}

.icon-link {
  z-index: 1;
}

#contact-circle {
  background-color: white;
  position: absolute;

  background-color: rgba(255, 255, 255, 0.2);
  /* filter: drop-shadow(0 0 2.75rem white); */
  animation: lightUpDown 8s infinite linear;

  width: 180px;
  height: 180px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: 350ms;
}

#contact-circle:hover {
  animation: none;
  filter: drop-shadow(0 0 2.75rem white);
}

#contact-circle::after {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);

  width: 0;
  height: 0;
  border-radius: 50%;

  transition: 700ms ease-in-out;
  user-select: none;
  z-index: -1;
}

#contact-circle:hover::after, #contact-circle:active::after {
  opacity: 1;
  background-color: hsl(270, 4%, 50%);
  background-color: black;

  width: 99%;
  height: 99%;
}

#contact-circle .icon-link svg:hover path,
#contact-circle .icon-link svg:active path {
  fill: lightgray;
}

#contact-text-wrapper,
#contact-circle {
  transition: opacity 700ms ease-in-out;
}

#contact-text-wrapper.hide,
#contact-circle.hide {
  opacity: 0;
}

#contact-text-wrapper.show,
#contact-circle.show {
  opacity: 1;
}

@keyframes lightUpDown {
  0% {
    filter: drop-shadow(0 0 2.75rem lightgray);
  }
  50% {
    filter: drop-shadow(0 0 0 lightgray);
  }
  100% {
    filter: drop-shadow(0 0 2.75rem lightgray);
  }
}
