@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
/* @media only screen and (max-width: 900px) {
  nav a:not(.name-logo) {
    font-size: 1rem !important;
  }
}
@media only screen and (max-width: 620px) {
  nav {
    padding: 0 !important;
  }
} */

.logo-animation {
  transition: 1s;
  animation: slideUp 1s forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-60px);
  }
}
section#home {
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;

  position: relative;
}
#personal-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#personal-info-wrapper .word {
  font-family: "Russo One", sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 5rem;
  margin: 0;
  padding: 0 16px;
}

#name-wrapper {
  opacity: 0;
  margin-bottom: 32px;
  animation: name-entry 1.5s forwards;
  animation-delay: 0.5s;
}

#job-title-wrapper {
  opacity: 0;
  animation: title-entry 2.5s forwards;
  animation-delay: 0.5s;
}

#personal-info-wrapper .word.small {
  font-size: 3rem;
}
.text {
  padding: 32px;
}
.line {
  display: flex;
  justify-content: space-between;
}

#personal-info-wrapper:has(.fancy:hover) .word:not(.fancy:hover) {
  opacity: 0.2;
}

.fancy > .letter {
  display: inline-block;
  transition: 350ms ease;
}

.line {
  position: relative;
}

.fancy:hover > .letter:nth-child(1) {
  transform: translate(-80%, 60%) rotate(8deg);
}
.fancy:hover > .letter:nth-child(2) {
  transform: translate(-40%, 20%) rotate(5deg);
}
.fancy:hover > .letter:nth-child(3) {
  transform: translate(-10%, 60%) rotate(-6deg);
}
.fancy:hover > .letter:nth-child(4) {
  transform: translate(0%, 8%) rotate(-8deg);
}
.fancy:hover > .letter:nth-child(5) {
  transform: translate(0%, -20%) rotate(-3deg);
}

span.description {
  font-family: "Rubik", sans-serif;
  text-transform: none;
  font-size: 1.2rem;

  position: absolute;
  top: 96px;
  left: 0;

  height: 0;
  opacity: 0;

  transition: 400ms;
}

span.description > img.logo.react {
  position: absolute;
  opacity: 0;
}

.fancy:hover > .description {
  height: auto;
  opacity: 1;
}

.fancy:hover > .description .logo.react {
  left: 35%;

  width: 125px;
  height: 125px;

  opacity: 0.2;
  animation: logo-spin infinite 20s linear;
}

.big-text {
  display: flex;
  display: none;
  position: absolute;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 10rem;
  color: white;
  text-shadow: 4px 0 10px rgba(0, 0, 0, 0.13);
  transform: perspective(5000px) rotateY(var(--rotateY)) rotateX(var(--rotateX));
}

@keyframes name-entry {
  0% {
    opacity: 0;
    translate: 0 100px;
  }
  20% {
    translate: 0 0px;
  }
  100% {
    opacity: 1;
  }
}

@keyframes title-entry {
  0% {
    opacity: 0;
    translate: 0 200px;
  }
  20% {
    translate: 0 0px;
  }
  100% {
    opacity: 1;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 420px) {
  #personal-info-wrapper .word,
  #personal-info-wrapper .word.small {
    font-size: 2rem;
  }
}
