#avatar-wrapper {
  display: none;  
}
#avatar-wrapper > #avatar {
  width: 500px;
  height: 500px;

  position: absolute;
  right: 50px;
  top: 150px;

  z-index: 0;
  animation: avatar-entry 1s forwards;
}

#avatar-wrapper .eye-wrapper {
  position: relative;
}

#avatar-wrapper > #avatar ~ .eyes {
  background-color: white;
  width: 5px;
  height: 5px;
  border-radius: 12px;
  position: absolute;
  z-index: 99;
}

#avatar-wrapper > #avatar ~ .eyes.eye-1 {
  left: 422px;
  top: -8px;
}

#avatar-wrapper > #avatar ~ .eyes.eye-2 {
  left: 476px;
  top: -8px;
}

@keyframes avatar-entry {
  0% {
    opacity: 0.5;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
