#avatar-wrapper {
}
#avatar-wrapper > #avatar {
  border: white 2px solid;
  width: 500px;
  height: 500px;

  position: absolute;
  right: 100px;
  top: 150px;
  bottom: 0;

  z-index: 0;
}

#avatar-wrapper > #avatar ~ .eyes {
  background-color: white;
  width: 5px;
  height: 5px;
  border-radius: 12px;
  position: absolute;
  z-index: 99;
}

#avatar-wrapper > #avatar ~ .eyes.eye-1 {
  left: 422px;
  top: -8px;
}

#avatar-wrapper > #avatar ~ .eyes.eye-2 {
  left: 476px;
  top: -8px;
}
