@import url("https://fonts.googleapis.com/css2?family=Dhurjati&family=Kanit&family=Rubik+Glitch&family=Poppins&family=Space+Grotesk&display=swap");
html {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
  overflow-x: hidden;
}
section {
  scroll-snap-align: start;
}
body {
  background-color: black;
  margin: 0;

  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
section {
  background-image: conic-gradient(
    from 0deg at 0% 0%,
    #000 0%,
    #030303 100%
  ) !important ;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
