@import url("https://fonts.googleapis.com/css2?family=Dhurjati&family=Kanit&family=Rubik+Glitch&family=Poppins&family=Space+Grotesk&display=swap");

@font-face {
  font-family: "Helvetica";
  src: url("./assets/fonts/Helvetica Neue 67 Medium Condensed.otf");
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
  /* scroll-snap-type: y proximity; */
  overflow-x: hidden;
}

section {
  /* scroll-snap-align: start; */
}

body {
  background-color: black;
  color: white;
  margin: 0;

  font-family: "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
section {
  background-image: conic-gradient(
    from 0deg at 0% 0%,
    #000 0%,
    #030303 100%
  ) !important ;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}
